


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
 
        div {
            text-align: center;
            width: 30%;
            padding: 5px;
            border-radius: 8px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Congratulations!</h1>
        <!-- <p>You got {{ correctAnswers }} questions correct out of {{ totalQuestions }}.</p> -->
        <p>You've Qualified for the Next Round!</p>
    </div>
</body>
</html>